!!! 5
%html
  %head
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js"}

    :javascript
      $("td").live('click', function() {
        $(this).closest('tr').toggleClass('highlight');
      });
      $(".task .status").live('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var id = $(this).closest('tr').attr('id');
        $(".in_"+id).toggle();
      });

    %style
      :plain
        body {
          padding: 0;
          margin: 0; }

        body, td {
          font-family: pt sans, sans-serif;
          color: #333;
          line-height: 13.5pt;
          font-size: 9pt; }

        table {
          border: solid 2px #aaa;
          padding: 2px;

          background: #fafafa;
          margin: 0;
          border-collapse: collapse; }

        table td, table th {
          padding: 5px 10px;
          border-top: solid 1px #eee; }

        /* Columns */
        tr>.task { width: auto; text-align: left; padding-right: 50px; }
        tr>.points { width: 70px; }
        tr>.progress { width: 100px; }
        tr>.sprints { padding-right: 50px; }
        tr>.owner { display: none; }

        /* Indentation */
        .level-1 .task { padding-left: 25px; }
        .level-2 .task { padding-left: 50px; }
        .level-3 .task { padding-left: 75px; }
        .level-4 .task { padding-left: 100px; }

        /* Overrides for parents */
        tr.milestone td.task,
        tr.feature td.task {
          font-weight: bold;
          font-size: 1.1em; }

        tr.milestone td,
        tr.feature td {
          border-top: solid 1px #888; }

        tr .progress .bar {
          display: none; }

        tr.milestone .progress .bar,
        tr.feature .progress .bar {
          display: block; }

        tr td.points>* {
          display: none; }

        tr.milestone td.points>*,
        tr.feature td.points>* {
          display: inline; }

        /* Milestone */
        tr.milestone td {
          line-height: 18pt; }

        tr.milestone:not(:first-child) td {
          border-top: solid 3px #777; }

        tr.milestone td.task {
          font-size: 1.2em; }

        /* Header */
        thead {
          display: none; }

        th {
          color: #888; }

        /* Zebra */
        tr td,
        tr {
          background: #ffffff; }

        tr:nth-child(odd) td,
        tr:nth-child(odd) {
          background: #fafafa; }

        tr.highlight,
        tr.highlight td {
          background: #fafae0; }

        /* Status box */
        .status {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin: 0 5px 0 0;

          border-radius: 2px;

          position: relative;
          top: 2px;
          background: #ddd; }

        .parent .status {
          cursor: pointer; }

        .parent .status:hover {
          box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1); }

        /* Progress */
        .progress .number {
          display: none; }

        .progress .bar {
          height: 10px;
          border-radius: 5px;
          background: #ddd; }

        .progress .bar span {
          display: block;
          height: 10px;
          border-radius: 5px;
          background: #888; }

        .meta {
          white-space: nowrap;
          font-size: 8pt;
          font-weight: normal;
          text-decoration: none;

          background: #eee;
          padding: 1px 5px;
          border-radius: 2px;
          border-bottom: solid 1px #ddd;
          border-right: solid 1px #ddd;

          margin: 0 10px;
          color: #999; }

        span.meta {
          background: #ddd;
          border-bottom: solid 1px #ccc;
          border-right: solid 1px #ccc;
          color: #666; }

        /* Progress */
        td.points {
          text-align: left;
          font-size: 0.9em; }

        td.points .points.done {
          font-weight: bold; }

        td.points .of,
        td.points .points.total {
          color: #888; }

        /* Sprints */
        .sprint-display {
          background: #eee;
          border-radius: 6px;
          height: 12px;
          position: relative; }

        .sprint-display {
          overflow: hidden; }

        .sprint-progress {
          display: block;
          float: left;

          background-color: #eee;
          background: -webkit-linear-gradient(left, #eee, #ddd);
          height: 2px;
          border-top-left-radius: 1px;
          border-bottom-left-radius: 1px;
          margin-top: 8px; }

        .sprint-marker {
          display: block;
          float: left;

          background: #ccc;

          width: 6px;
          height: 6px;
          border-radius: 3px;
          float: left;

          margin-top: 6px; }

        .sprint-label {
          display: block;
          float: left;

          font-size: 7pt;
          color: #888;
          padding-left: 5px; }

        .status-bg-in_progress {
          background: #ea3; }

        .status-bg-done {
          background: #393; }

  %body

    %table
      %thead
        %tr
          %th.task Task
          %th.owner Owner
          - if list.sprints?
            %th.sprints Schedule
          %th.progress Progress
          %th.points Points

      - list.walk do |task, recurse|

        %tr{id: "task_#{task.id}", class: "#{task.css_class}"}
          %td.task
            %span.status{class: "status-bg-#{task.status}"}
            = task
            - if task.pivotal_id
              %a.meta{href: task.pivotal_url}= "PT ##{task.pivotal_id}"
            - if task.trello_id
              %a.meta{href: task.trello_url}= "Trello"

            - if task.tags.any?
              - task.tags.each do |tag|
                %span.meta= tag

            - if task.leaf? && task.points != 1
              %span.meta=  ("%.2f" % task.points).gsub(/\.?0+$/,'') + "pts"

          %td.owner
            = task.owner

          - if list.sprints?
            %td.sprints
              - if task.sprint?
                %span.sprint-display
                  %span.sprint-progress{style: "width: #{45*task.sprint.index+6}px"}
                  %span.sprint-marker{class: "status-bg-#{task.status}"}
                  %span.sprint-label
                    = task.sprint.id

          %td.progress
            .bar
              %span{style: "width: #{(task.percent*95+5).to_i}%"}
            %span.number= "#{(task.percent*100).to_i}%"

          %td.points
            %span.points.done= task.points_done.round(1).to_s.gsub(/\.0+$/,'')
            %span.of of
            %span.points.total= task.points.round(1).to_s.gsub(/\.0+$/,'')

        - recurse.call  if recurse

    %br
